@font-face {
    font-family: "icons";
    src: url("basic.icons.eot");
    src: url("basic.icons.eot?#iefix") format("embedded-opentype"),
         url("basic.icons.woff") format("woff"),
         url("basic.icons.ttf") format("truetype"),
         url("basic.icons.svg#icons") format("svg");
    font-weight: normal;
    font-style: normal;
}